<div class="chat-container">
    <div class="chat-list-container">
        <div class="go-to-profile">
            <span>{{goToProfileText}}</span>
            <img alt="goToProfileIcon" src="icons/caret_right.svg"/>
        </div>
        {{{chatSearch}}}
        {{{chatList}}}
    </div>
    <div class="chat-area-container">
        {{{chatHeader}}}
        {{{messageArea}}}
        {{{messageInput}}}
    </div>
</div>
